MatrizMDCaroline.arb
MatrizMDCaroline.dis
MatrizMDCaroline.phy
MatrizGowerCaroline.arb
MatrizGowerCaroline.dis
MatrizGowerCaroline.phy
MatrizCECaroline.dis
MatrizCECaroline.phy
MatrizMDCaroline_EL-998.arb
BarPlotCaule1.tiff
BarPlotCaule1TXT.tiff
BarPlotCaule2.tiff
BarPlotCaule2TXT.tiff
BarPlotCaule3.tiff
BarPlotCaule3TXT.tiff
BarPlotFoliar1.tiff
BarPlotFoliar1TXT.tiff
BarPlotFoliar2.tiff
BarPlotFoliar2TXT.tiff
BarPlotFoliar3.tiff
BarPlotFoliar3TXT.tiff
BarPlotRaiz1.tiff
BarPlotRaiz1TXT.tiff
BarPlotRaiz2.tiff
BarPlotRaiz2TXT.tiff
BarPlotsCauleTXT.tiff
BarPlotsFoliarTXT.tiff
BarPlotsRaizTXT.tiff
BoxplotFoliar.jpg
PCAPlots.tiff
PCAPlotsTXT.tiff
Shannon-WeaverCCQualIndex.csv
Shannon-WeaverCCQuantIndex.csv
BarPlotsTXT.tiff
BoxPlotFoliar.tiff
BoxPlotFoliarTXT.tiff
BoxPlotRaiz.tiff
BoxPlotRaiz2.tiff
BoxPlotRaiz2TXT.tiff
BoxPlotRaizTXT.tiff
BoxPlotsFoliarTXT.tiff
BoxPlotsTXT.tiff
MatrizGowerCaroline_EL-1302.arb
